<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Main.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Function.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordPage</servlet-name>
        <servlet-class>Pages.ChangePasswordPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Function.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>Pages.LoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserPage</servlet-name>
        <servlet-class>Pages.RegisterUserPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>Function.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterVehicle</servlet-name>
        <servlet-class>Function.RegisterVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterVehiclePage</servlet-name>
        <servlet-class>Pages.RegisterVehiclePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Function.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>Function.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginPage</servlet-name>
        <servlet-class>Pages.AdminLoginPage</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>VehicleInfo</servlet-name>
        <servlet-class>Pages.VehicleInfoPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageVehicles</servlet-name>
        <servlet-class>Pages.ManageVehicles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVehicle</servlet-name>
        <servlet-class>Function.DeleteVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserReportPage</servlet-name>
        <servlet-class>Pages.UserReportPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserReport</servlet-name>
        <servlet-class>Function.UserReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReportPage</servlet-name>
        <servlet-class>Pages.AdminReportPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReportDetail</servlet-name>
        <servlet-class>Object.AdminReportDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovePlate</servlet-name>
        <servlet-class>Function.ApprovePlate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>Function.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVehicleInfoPage</servlet-name>
        <servlet-class>Pages.EditVehicleInfoPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVehicleInfo</servlet-name>
        <servlet-class>Function.EditVehicleInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindVehiclePage</servlet-name>
        <servlet-class>Pages.FindVehiclePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindVehicle</servlet-name>
        <servlet-class>Function.FindVehicle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordPage</servlet-name>
        <url-pattern>/ChangePasswordPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/LoginPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserPage</servlet-name>
        <url-pattern>/RegisterUserPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterVehicle</servlet-name>
        <url-pattern>/RegisterVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterVehiclePage</servlet-name>
        <url-pattern>/RegisterVehiclePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginPage</servlet-name>
        <url-pattern>/AdminLoginPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleInfo</servlet-name>
        <url-pattern>/VehicleInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageVehicles</servlet-name>
        <url-pattern>/ManageVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVehicle</servlet-name>
        <url-pattern>/DeleteVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserReportPage</servlet-name>
        <url-pattern>/UserReportPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserReport</servlet-name>
        <url-pattern>/UserReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReportPage</servlet-name>
        <url-pattern>/AdminReportPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReportDetail</servlet-name>
        <url-pattern>/AdminReportDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovePlate</servlet-name>
        <url-pattern>/ApprovePlate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVehicleInfoPage</servlet-name>
        <url-pattern>/EditVehicleInfoPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVehicleInfo</servlet-name>
        <url-pattern>/EditVehicleInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindVehiclePage</servlet-name>
        <url-pattern>/FindVehiclePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindVehicle</servlet-name>
        <url-pattern>/FindVehicle</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
